<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="porker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <porker.Properties.Settings>
            <setting name="PK_DEFAULT_PASS" serializeAs="String">
                <value>zhongbao123</value>
            </setting>
            <setting name="PK_DEFAULT_USER" serializeAs="String">
                <value>15884156797</value>
            </setting>
            <setting name="PK_PLAY_REQ" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PK_LOGIN_AUTH_URL" serializeAs="String">
                <value>http://222.208.86.120:8084/poker/auth/login</value>
            </setting>
            <setting name="PK_WEB_TIMEOUT" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="PK_NTP_SERVER" serializeAs="String">
                <value>time.pool.aliyun.com</value>
            </setting>
            <setting name="PK_CODETEST" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PK_OCR_URL" serializeAs="String">
                <value>http://cloud.emlab.net/p/dev/xxoo/?raw=1&amp;json=1</value>
            </setting>
            <setting name="PK_HOMEPAGE" serializeAs="String">
                <value>http://zhongbao.10085.cn:18080/</value>
            </setting>
            <setting name="PK_URL_UPDATE" serializeAs="String">
                <value>http://cloud.emlab.net/p/pk/</value>
            </setting>
            <setting name="PK_URL_HELP" serializeAs="String">
                <value>http://cloud.emlab.net/p/pk/help/index.htm</value>
            </setting>
        </porker.Properties.Settings>
    </userSettings>
</configuration>